body {
    font-family: Arial, sans-serif;
    background-color: #9fbdf1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(134, 157, 206);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-sizing: border-box;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #0056b3;
}

/* Mensaje de error (si el login falla) */
.error-message {
    color: #e74c3c;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

